# Livro para consulta:
- https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html
- https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

# 2. Carregando o dataframe SINASC <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [3]:
sinasc_raw = pd.read_csv('SINASC_RO_2019.csv')
sinasc_raw.head()

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResNome,munResUf,munResLat,munResLon,munResAlt,munResArea
0,1,2679477.0,110001,1,19,5.0,8 a 11 anos,NaN,0.0,0.0,...,5,1,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
1,1,2679477.0,110001,1,29,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,2,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
2,1,2679477.0,110001,1,37,9.0,8 a 11 anos,513205.0,2.0,0.0,...,5,3,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
3,1,2516500.0,110001,1,30,5.0,12 anos ou mais,231205.0,0.0,0.0,...,4,4,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia,-12.13178,-61.85308,397.0,3958.273
4,1,2516500.0,110001,1,30,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,5,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025

# Tarefa 1

### 1. Idade media das mães e dos pais por município (coluna munResNome)

In [53]:
sinasc_1 = sinasc_raw[['IDADEMAE', 'IDADEPAI', 'munResNome']]
sinasc_1.head()

   IDADEMAE  IDADEPAI               munResNome
0        19      26.0    Alta Floresta D'Oeste
1        29      24.0    Alta Floresta D'Oeste
2        37      32.0    Alta Floresta D'Oeste
3        30      24.0  Alto Alegre dos Parecis
4        30      27.0    Alta Floresta D'Oeste

In [54]:
sinasc_1.mean()

C:\Users\WorkStation\AppData\Local\Temp\ipykernel_6464\635669246.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  sinasc_1.mean()

IDADEMAE    26.093718
IDADEPAI    31.092415
dtype: float64

In [55]:
sinasc_1.groupby('munResNome')

In [56]:
sinasc_1.groupby('munResNome').mean()

                            IDADEMAE   IDADEPAI
munResNome
Alta Floresta D'Oeste      25.991826  29.548701
Alto Alegre dos Parecis    24.844156  29.179104
Alto Paraíso               24.960177  28.833333
Alvorada D'Oeste           25.770732  30.757282
Ariquemes                  25.607866  32.466667
Buritis                    25.559177  30.812500
Cabixi                     26.037500  34.333333
Cacaulândia                25.546667  36.333333
Cacoal                     26.890102  30.931854
Campo Novo de Rondônia     24.825301  30.500000
Candeias do Jamari         25.243323  29.894737
Castanheiras               27.281250  30.392857
Cerejeiras                 27.240506  31.652778
Chupinguaia                25.333333  29.629630
Colorado do Oeste          27.602804  34.354839
Corumbiara                 24.716535  32.470588
Costa Marques              24.412017  30.613636
Cujubim                    24.482927  31.400000
Espigão D'Oeste            26.093333  31.198113
Governador Jorge Teixeira  24.401786  29.222222
Guajará-Mirim              25.462228  30.470588
Itapuã do Oeste            26.064220  42.500000
Jaru                       25.982974  32.197183
Ji-Paraná                  26.361137  31.132239
Machadinho D'Oeste         25.480000  31.326923
Ministro Andreazza         27.904762  33.849315
Mirante da Serra           26.304878  32.154762
Monte Negro                25.648241  34.678571
Município ignorado - RO    24.000000  22.000000
Nova Brasilândia D'Oeste   26.222222  30.520833
Nova Mamoré                25.326389  31.692308
Nova União                 26.894231  31.371429
Novo Horizonte do Oeste    26.938776  31.588235
Ouro Preto do Oeste        26.375594  31.233244
Parecis                    26.454545  32.473684
Pimenta Bueno              25.199675  29.745174
Pimenteiras do Oeste       25.075000  35.600000
Porto Velho                26.312670  32.352679
Presidente Médici          25.796053  30.150754
Primavera de Rondônia      27.023256  31.888889
Rio Crespo                 26.660000  28.000000
Rolim de Moura             26.600863  30.360479
Santa Luzia D'Oeste        26.121212  30.703297
Seringueiras               24.910714  30.500000
São Felipe D'Oeste         26.481481  31.395833
São Francisco do Guaporé   25.660066  31.638889
São Miguel do Guaporé      25.926346  32.666667
Teixeirópolis              26.031250  31.500000
Theobroma                  25.536082  30.083333
Urupá                      26.688235  31.008929
Vale do Anari              26.096774  34.000000
Vale do Paraíso            25.679012  29.976744
Vilhena                    26.433962  34.152941

### 2. Peso médio dos bebes por sexo que nasceram no dia do seu aniversário por faixas de escolaridade mae
Ex: Você, aluna(o), nasceu no dia 10/01, então você precisa filtrar o conjunto de dados nessa data e calcular o peso médio dos bebês de cada sexo por faixa de escolaridade da mãe.

In [12]:
sinasc_01 = sinasc_raw.loc[sinasc_raw['DTNASC']=='2019-10-27']
sinasc_01.groupby(['ESCMAE', 'SEXO'])['PESO'].agg('mean').to_frame()

                                  PESO
ESCMAE          SEXO
12 anos ou mais Feminino   2905.000000
                Masculino  3162.500000
4 a 7 anos      Feminino   2891.000000
                Masculino  2909.888889
8 a 11 anos     Feminino   3220.357143
                Masculino  3286.058824

### 3. Qual o municipio que nasceu menos bebe em 2019?
    - qual a idade media, maxima, minima das maes nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

In [226]:
sinasc_1 = sinasc_raw[['IDADEMAE', 'IDADEPAI', 'munResNome', 'DTNASC']]
sinasc_1.head()

   IDADEMAE  IDADEPAI               munResNome      DTNASC
0        19      26.0    Alta Floresta D'Oeste  2019-02-19
1        29      24.0    Alta Floresta D'Oeste  2019-02-21
2        37      32.0    Alta Floresta D'Oeste  2019-02-25
3        30      24.0  Alto Alegre dos Parecis  2019-03-20
4        30      27.0    Alta Floresta D'Oeste  2019-03-23

In [227]:
sinasc_1.munResNome.value_counts()

Porto Velho                  8437
Ji-Paraná                    2182
Ariquemes                    1729
Vilhena                      1590
Cacoal                       1374
Rolim de Moura                927
Jaru                          881
Guajará-Mirim                 781
Ouro Preto do Oeste           631
Pimenta Bueno                 616
Buritis                       583
Machadinho D'Oeste            500
Espigão D'Oeste               450
Nova Mamoré                   432
Alta Floresta D'Oeste         367
São Miguel do Guaporé         353
Candeias do Jamari            337
Presidente Médici             304
São Francisco do Guaporé      303
Nova Brasilândia D'Oeste      261
Cerejeiras                    237
Costa Marques                 233
Alto Paraíso                  226
Colorado do Oeste             214
Alvorada D'Oeste              205
Cujubim                       205
Monte Negro                   199
Urupá                         170
Seringueiras                  168
Campo Novo de Rondônia        166
Mirante da Serra              164
Chupinguaia                   162
Alto Alegre dos Parecis       154
Corumbiara                    127
Governador Jorge Teixeira     112
Itapuã do Oeste               109
Nova União                    104
Santa Luzia D'Oeste            99
Novo Horizonte do Oeste        98
Theobroma                      97
Vale do Anari                  93
Ministro Andreazza             84
Vale do Paraíso                81
Cabixi                         80
Cacaulândia                    75
Teixeirópolis                  64
São Felipe D'Oeste             54
Rio Crespo                     50
Parecis                        44
Primavera de Rondônia          43
Pimenteiras do Oeste           40
Castanheiras                   32
Município ignorado - RO         1
Name: munResNome, dtype: int64

In [228]:
print('Castanheiras foi o municipio no qual nasceu menos bebês em 2019')

Castanheiras foi o municipio no qual nasceu menos bebês em 2019

In [235]:
sinasc_01 = sinasc_raw.loc[sinasc_raw['munResNome']=='Castanheiras']

In [246]:
sinasc_01.groupby(['IDADEMAE','munResNome'])['IDADEPAI'].mean()

IDADEMAE  munResNome
17        Castanheiras          NaN
18        Castanheiras    22.000000
21        Castanheiras    19.000000
22        Castanheiras    19.000000
23        Castanheiras    25.000000
24        Castanheiras    28.000000
25        Castanheiras    30.500000
26        Castanheiras    24.000000
27        Castanheiras    29.800000
28        Castanheiras    29.000000
29        Castanheiras    32.000000
30        Castanheiras    34.000000
31        Castanheiras    36.333333
32        Castanheiras    29.000000
34        Castanheiras    38.000000
35        Castanheiras    38.000000
39        Castanheiras    43.000000
Name: IDADEPAI, dtype: float64

In [242]:
sinasc_01.groupby(['IDADEMAE','IDADEPAI'])['munResNome'].max()

IDADEMAE  IDADEPAI
18        17.0        Castanheiras
          27.0        Castanheiras
21        19.0        Castanheiras
22        19.0        Castanheiras
23        25.0        Castanheiras
24        28.0        Castanheiras
25        29.0        Castanheiras
          32.0        Castanheiras
26        24.0        Castanheiras
27        20.0        Castanheiras
          27.0        Castanheiras
          32.0        Castanheiras
          35.0        Castanheiras
28        29.0        Castanheiras
29        32.0        Castanheiras
30        33.0        Castanheiras
          35.0        Castanheiras
31        31.0        Castanheiras
          36.0        Castanheiras
          42.0        Castanheiras
32        25.0        Castanheiras
          29.0        Castanheiras
          33.0        Castanheiras
34        38.0        Castanheiras
35        38.0        Castanheiras
39        43.0        Castanheiras
Name: munResNome, dtype: object

In [243]:
sinasc_01.groupby(['IDADEMAE','IDADEPAI'])['munResNome'].min()

IDADEMAE  IDADEPAI
18        17.0        Castanheiras
          27.0        Castanheiras
21        19.0        Castanheiras
22        19.0        Castanheiras
23        25.0        Castanheiras
24        28.0        Castanheiras
25        29.0        Castanheiras
          32.0        Castanheiras
26        24.0        Castanheiras
27        20.0        Castanheiras
          27.0        Castanheiras
          32.0        Castanheiras
          35.0        Castanheiras
28        29.0        Castanheiras
29        32.0        Castanheiras
30        33.0        Castanheiras
          35.0        Castanheiras
31        31.0        Castanheiras
          36.0        Castanheiras
          42.0        Castanheiras
32        25.0        Castanheiras
          29.0        Castanheiras
          33.0        Castanheiras
34        38.0        Castanheiras
35        38.0        Castanheiras
39        43.0        Castanheiras
Name: munResNome, dtype: object

### 4. Qual o municipio que nasceu mais bebe no mês de março?
    - qual a quantidade de filhos vivos media, maxima, minima nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

In [40]:
sinasc2 = sinasc_raw[['QTDFILVIVO', 'IDADEPAI', 'munResNome', 'DTNASC']]
sinasc2.head()

   QTDFILVIVO  IDADEPAI               munResNome      DTNASC
0         0.0      26.0    Alta Floresta D'Oeste  2019-02-19
1         1.0      24.0    Alta Floresta D'Oeste  2019-02-21
2         2.0      32.0    Alta Floresta D'Oeste  2019-02-25
3         0.0      24.0  Alto Alegre dos Parecis  2019-03-20
4         1.0      27.0    Alta Floresta D'Oeste  2019-03-23

In [41]:
sinasc = pd.to_datetime(sinasc_raw['DTNASC'])
sinasc

0       2019-02-19
1       2019-02-21
2       2019-02-25
3       2019-03-20
4       2019-03-23
           ...
27023   2019-12-13
27024   2019-10-04
27025   2019-08-02
27026   2019-12-23
27027   2019-12-27
Name: DTNASC, Length: 27028, dtype: datetime64[ns]

In [42]:
sinasc['DTNASC'] = sinasc.dt.month

In [45]:
mes = sinasc.loc['DTNASC': 3]

In [39]:
sinasc2.groupby(['munResNome'])[mes].value_counts()

munResNome
Alta Floresta D'Oeste         367
Alto Alegre dos Parecis       154
Alto Paraíso                  226
Alvorada D'Oeste              205
Ariquemes                    1729
Buritis                       583
Cabixi                         80
Cacaulândia                    75
Cacoal                       1374
Campo Novo de Rondônia        166
Candeias do Jamari            337
Castanheiras                   32
Cerejeiras                    237
Chupinguaia                   162
Colorado do Oeste             214
Corumbiara                    127
Costa Marques                 233
Cujubim                       205
Espigão D'Oeste               450
Governador Jorge Teixeira     112
Guajará-Mirim                 781
Itapuã do Oeste               109
Jaru                          881
Ji-Paraná                    2182
Machadinho D'Oeste            500
Ministro Andreazza             84
Mirante da Serra              164
Monte Negro                   199
Município ignorado - RO         1
Nova Brasilândia D'Oeste      261
Nova Mamoré                   432
Nova União                    104
Novo Horizonte do Oeste        98
Ouro Preto do Oeste           631
Parecis                        44
Pimenta Bueno                 616
Pimenteiras do Oeste           40
Porto Velho                  8437
Presidente Médici             304
Primavera de Rondônia          43
Rio Crespo                     50
Rolim de Moura                927
Santa Luzia D'Oeste            99
Seringueiras                  168
São Felipe D'Oeste             54
São Francisco do Guaporé      303
São Miguel do Guaporé         353
Teixeirópolis                  64
Theobroma                      97
Urupá                         170
Vale do Anari                  93
Vale do Paraíso                81
Vilhena                      1590
dtype: int64

In [34]:
print('O municipio no qual nasceu mais bebês em março de 2019 foi Porto Velho')

O municipio no qual nasceu mais bebês em março de 2019 foi Porto Velho

In [28]:
sinasc02 = sinasc_raw.loc[sinasc_raw['munResNome']=='Porto Velho']

In [29]:
sinasc02.groupby(['munResNome', 'IDADEPAI'])['QTDFILVIVO'].mean()

munResNome   IDADEPAI
Porto Velho  16.0        0.000000
             17.0        0.000000
             18.0        0.000000
             19.0        1.200000
             20.0        0.500000
             21.0        0.866667
             22.0        0.300000
             23.0        0.714286
             24.0        0.866667
             25.0        0.611111
             26.0        1.000000
             27.0        0.840000
             28.0        0.380952
             29.0        0.709677
             30.0        1.314286
             31.0        0.875000
             32.0        1.437500
             33.0        1.030303
             34.0        0.971429
             35.0        0.931034
             36.0        1.000000
             37.0        1.130435
             38.0        1.040000
             39.0        0.800000
             40.0        1.266667
             41.0        0.866667
             42.0        1.454545
             43.0        2.375000
             44.0        1.666667
             45.0        1.000000
             46.0        1.500000
             47.0        1.000000
             48.0        2.000000
             49.0        0.500000
             50.0        0.500000
             51.0        1.375000
             52.0        4.000000
             53.0        0.666667
             54.0        2.000000
             55.0        1.000000
             56.0        2.000000
             57.0        2.000000
             59.0        1.000000
             60.0        5.000000
             61.0        1.000000
             62.0        5.000000
             65.0        0.000000
Name: QTDFILVIVO, dtype: float64

In [33]:
sinasc02.groupby(['munResNome', 'IDADEPAI'])['QTDFILVIVO'].min()

munResNome   IDADEPAI
Porto Velho  16.0        0.0
             17.0        0.0
             18.0        0.0
             19.0        0.0
             20.0        0.0
             21.0        0.0
             22.0        0.0
             23.0        0.0
             24.0        0.0
             25.0        0.0
             26.0        0.0
             27.0        0.0
             28.0        0.0
             29.0        0.0
             30.0        0.0
             31.0        0.0
             32.0        0.0
             33.0        0.0
             34.0        0.0
             35.0        0.0
             36.0        0.0
             37.0        0.0
             38.0        0.0
             39.0        0.0
             40.0        0.0
             41.0        0.0
             42.0        0.0
             43.0        0.0
             44.0        1.0
             45.0        1.0
             46.0        1.0
             47.0        1.0
             48.0        1.0
             49.0        0.0
             50.0        0.0
             51.0        0.0
             52.0        1.0
             53.0        0.0
             54.0        2.0
             55.0        1.0
             56.0        2.0
             57.0        2.0
             59.0        1.0
             60.0        5.0
             61.0        1.0
             62.0        5.0
             65.0        0.0
Name: QTDFILVIVO, dtype: float64

In [32]:
sinasc02.groupby(['munResNome', 'IDADEPAI'])['QTDFILVIVO'].max()

munResNome   IDADEPAI
Porto Velho  16.0        0.0
             17.0        0.0
             18.0        0.0
             19.0        2.0
             20.0        2.0
             21.0        3.0
             22.0        2.0
             23.0        2.0
             24.0        2.0
             25.0        3.0
             26.0        6.0
             27.0        2.0
             28.0        1.0
             29.0        3.0
             30.0        6.0
             31.0        3.0
             32.0        5.0
             33.0        4.0
             34.0        4.0
             35.0        4.0
             36.0        3.0
             37.0        3.0
             38.0        2.0
             39.0        2.0
             40.0        4.0
             41.0        2.0
             42.0        5.0
             43.0        5.0
             44.0        2.0
             45.0        1.0
             46.0        3.0
             47.0        1.0
             48.0        3.0
             49.0        1.0
             50.0        1.0
             51.0        3.0
             52.0        7.0
             53.0        1.0
             54.0        2.0
             55.0        1.0
             56.0        2.0
             57.0        2.0
             59.0        1.0
             60.0        5.0
             61.0        1.0
             62.0        5.0
             65.0        0.0
Name: QTDFILVIVO, dtype: float64

### Analise as respostas encontradas, tire algum insight delas, conte pra gente algo encontrado nos dados. Algo que você julgue relevante e novo pra você.

In [247]:
print('O municipio no qual nasceu mais bebês no mês de março também foi o que mais nasceu bebês no ano de 2019.')

O municipio no qual nasceu mais bebês no mês de março também foi o que mais nasceu bebês no ano de 2019.

In [248]:
print('Em Castanheiras, o municipio no qual nasceu menos bebês em 2019, em mães menores de idade não é possivel observar a idade mediana dos pais.')

Em Castanheiras, o municipio no qual nasceu menos bebês em 2019, em mães menores de idade não é possivel observar a idade mediana dos pais

In [249]:
print('É se inverter a situação, é possivel observar a idade maxima e minima das mães mesmo que o pai seja menor de idade.')

É se inverter a situação, é possivel observar a idade maxima e minima das mães mesmo que o pai seja menor de idade.

In [251]:
print('Em Porto Velho, o municipio no qual nasceu mais crianças no mês de março, a quantidade de filhos vivos minina é em maioria zero.')

Em Porto Velho, o municipio no qual nasceu mais crianças no mês de março, a quantidade de filhos vivos minina é em maioria zero.